* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.companies,
img {
    width: 70px;
    height: 70px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

li {
    margin-top: 15px;
    margin-right: 10px;
}

.ceroSection,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.logo {
    height: 50px;
    width: 50px;
    margin: 15px 15px;
}

.printer {
    height: 200px;
    width: 400px;
    margin: 40px 40px 60px 40px;
}

.firstSection {
    display: flex;
    justify-content: center;
}

.introduccion {
    margin: 40px 40px;
}